.ask-btn {
	display: inline-block;
	margin-left: 30%;
}
.question {
		border: solid 1px lightgray;
		margin-bottom: 30px;
		padding: 20px 0px;	
}

.badge {
	padding-right: 9px;
	margin-left: 4px; 
}
.like {
	margin-left: 3px;
	margin-top: 13px;
}
.img-circle {
	margin-top: 4px;
}