{% extends "base1.html" %}

{% block main %}
<h2>Best questions</h2>
{% for i in "12345" %}
<div class="question row">
    <div class="span2"> 
        <img src="https://ssl.webpack.de/lorempixel.com/120/120/" class="img-circle">
    </div>
    <div class="span6">
        <h4><a href="#">you see that?</a></h4>
        <p>kill all humans</p>
        <div>
            <a href="#">answer<span class="badge">33</span></a>
        </div>
    </div>
</div>

{% endfor %}

<div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
{% endblock %}

{% block log %}
<ul class="nav pull-right">
    <li><img src="https://ssl.webpack.de/lorempixel.com/40/40/" class="img-circle"></li>
    <li><a href="/settings/">setting</a></li>
    <li><a href="/login/">log out</a></li>
</ul>
{% endblock %}